<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg at %class.%method\(%file:%line\)%n
            </pattern>
        </encoder>
    </appender>

    <!-- Логирование сообщений об ошибках в файл -->
    <appender name="MODULEFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/server_log/module.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${loggerName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg at %class.%method\(%file:%line\)%n
            </pattern>
        </encoder>
        <fileAppend>false</fileAppend>
    </appender>

    <appender name="ALLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/server_log/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${loggerName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg at %class.%method\(%file:%line\)%n
            </pattern>
        </encoder>
        <fileAppend>false</fileAppend>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALLFILE"/>
    </root>
</configuration>
